---
Name: app_pricespy
---

Sunnysideup\Pricespy\Model\PriceSpyCache:
  dependencies:
    dataProviderAPI: App\Provider\MyPriceSpyDataProviderAPI


# ============= OR ================

Sunnysideup\Pricespy\Model\PriceSpyCache:
  dependencies:
    dataProviderAPI: '%$PriceSpyDataProviderAPI'
SilverStripe\Core\Injector\Injector:
  PriceSpyDataProviderAPI:
    class: App\Provider\MyPriceSpyDataProviderAPI





