---
Name: app_pricespy
---

Sunnysideup\Pricespy\Control\PriceSpy:
  dependencies:
    dataProviderAPI: '%$App\Provider\MyPriceSpyDataProviderAPI'
    # ============= OR ================
    dataProviderAPI: '%$PriceSpyDataProviderAPI'

SilverStripe\Core\Injector\Injector:
  PriceSpyDataProviderAPI:
    class: App\Provider\MyPriceSpyDataProviderAPI





